<%- include ("partials/reader.ejs") %>
<body>
  <%- include ("partials/navbar.ejs") %>
  <div class="container">
    <hr>
    <h1><%= pergunta.titulo %> </h1>
    <%= pergunta.descricao %> </p>
    <hr>
    <form>
      <h3>Responda</h3>
      <label for="">Resposta</label>
      <textarea placeholder="Digite sua resposta" class="form-control" name="corpo"></textarea>
      <br>
      <button type="submit" class="btn btn-dark">Responder</button>
    </form>
  </div>
</body>

<%- include ("partials/footer.ejs") %>